* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #f1f1f1;
  box-shadow: -15px 15px 30px rgb(205 205 205 / 20%), 15px -15px 30px rgb(205 205 205 / 20%),
    -15px -15px 30px rgb(255 255 255 / 90%), 15px 15px 38px rgb(205 205 205 / 90%),
    inset 1px 1px 2px rgb(255 255 255 / 30%), inset -1px -1px 2px rgb(205 205 205 / 50%);
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open {
  width: 250px;
}
.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon-logo {
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name {
  color: #11101d;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon-logo,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}
.sidebar .logo-details #btn-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn-toggle {
  text-align: right;
}
.sidebar i {
  color: #11101d;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
  padding-left: 0px;
}
.sidebar li {
  position: relative;
  margin: 12px 0;
  list-style: none;
  border-radius: 8px;
  background: linear-gradient(135deg, #e5e5e5 0%, #fdfdfd 100%);
  box-shadow: -10px 10px 20px rgba(169, 169, 169, 0.2), 10px -10px 20px rgba(169, 169, 169, 0.2),
    -10px -10px 20px rgba(255, 255, 255, 0.9), 10px 10px 25px rgba(169, 169, 169, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(169, 169, 169, 0.5);
}

.sidebar li.active {
  background: #fafafa;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(217, 217, 217, 0.5),
    inset -5px 5px 10px rgba(217, 217, 217, 0.2), inset 5px -5px 10px rgba(217, 217, 217, 0.2),
    inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px 5px 13px rgba(217, 217, 217, 0.9);
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #fff;
}
.sidebar.open .bx-search:hover {
  background: #1d1b31;
  color: #fff;
}
.sidebar .bx-search:hover {
  background: #fff;
  color: #11101d;
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  /* background: #11101d; */
  border-radius: 8px;
}
.sidebar li a:hover {
  background: #fff;
}
.sidebar li a .links_name {
  /* color: #11101d; */
  /* color: #1565c0; */
  color: #7e8cac;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101d;
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li .icon img {
  height: 45px;
  width: 45px;
  line-height: 50px;
  border-radius: 6px;
  padding: 10px;
  object-fit: cover;
}
.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  /* background: #1d1b31; */
  background: linear-gradient(135deg, #e5e5e5 0%, #fdfdfd 100%);
  box-shadow: -10px 10px 20px rgba(169, 169, 169, 0.2), 10px -10px 20px rgba(169, 169, 169, 0.2),
    -10px -10px 20px rgba(255, 255, 255, 0.9), 10px 10px 25px rgba(169, 169, 169, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(169, 169, 169, 0.5);
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile {
  width: 250px;
}
.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li .profile-img {
  height: 45px;
  width: 45px;
  /* padding: 10px; */
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #1d1b31;
  white-space: nowrap;
}
.sidebar li.profile .job {
  font-size: 12px;
}
.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  /* background: #1d1b31; */
  background: linear-gradient(135deg, #e5e5e5 0%, #fdfdfd 100%);
  box-shadow: -10px 10px 20px rgba(169, 169, 169, 0.2), 10px -10px 20px rgba(169, 169, 169, 0.2),
    -10px -10px 20px rgba(255, 255, 255, 0.9), 10px 10px 25px rgba(169, 169, 169, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(169, 169, 169, 0.5);
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}
.content-section {
  position: relative;
  background: #e4e9f7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
  padding-left: 32px;
}
.sidebar.open ~ .content-section {
  left: 250px;
  width: calc(100% - 250px);
  padding-left: 32px;
}
.content-section .heading-title {
  display: inline-block;
  color: #11101d;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 18px;
}
.content-section .heading-subtitle {
  display: block;
  font-size: 1rem;
  font-weight: 400;
}
@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}
